<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
{{$sage := .}}
<p>Sage: {{$sage}}
<ul>
    <li>{{$sage.Name}} - {{$sage.Motto}}</li>
</ul>
</body>
</html>