<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{$regions := .}}

{{range $regions}}

<div>{{.Region}}</div>
{{template "hotel" .}}

{{end}}
</body>
</html>

{{define "hotel"}}
<div>Hotels</div>
<ol>
    {{range .Hotels}}
    <li>{{.Name}} - {{.Address}} - {{.City}} - {{.Zip}}</li>
    {{end}}
</ol>
{{end}}